* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header button {
  display: block;
  margin: 0 auto;
  margin-top: 2em;
  height: 2em;
  width: 4em;
  border-radius: 20px;
  background-color: gray;
  color: white;
}

main {
  -webkit-box-shadow: 0px 0px 39px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 39px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 39px -9px rgba(0, 0, 0, 0.75);
  border-radius: 40px;
  width: 650px;
  /* height: 530px; */
  margin: 0 auto;
  position: relative;
  padding-top: 4em;
  padding-bottom: 1em;
  overflow-y: hidden;
}

li {
  list-style: none;
  font-size: 16px;
  padding: 1em;
  padding-left: 1.5em;
  width: 250px;
  margin: 1em;
  color: white;
  border-radius: 40px;
  display: none;
  transition: all 1s ease-in-out;
}

.gast {
  background-color: blueviolet;
  margin-right: 0;
  margin-left: calc(100% - 290px);
  transition: all 1s ease-in-out;
}

.interviewer {
  background-color: orange;
  margin-left: 0;
  margin-right: calc(100% - 290px);
  transition: all 1s ease-in-out;
}

main header {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 0;
  width: 100%;
  height: 4em;
  -webkit-box-shadow: 0px 14px 66px -22px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 66px -22px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 66px -22px rgba(0, 0, 0, 0.75);
}

.layout {
  background-color: gray;
  border: none;
  border-radius: 20px;
  height: 2em;
  width: 4em;
  position: relative;
  background-image: url(../img/Group2.png);
  background-repeat: no-repeat;
  background-position: 25px center;
  background-size: 15px;
}

.layout::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  height: 2em;
  width: 2em;
  background-color: black;
  border-radius: 50%;
  background-image: url(../img/Group.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}

.aan {
  background-color: gray;
  border: none;
  border-radius: 20px;
  height: 2em;
  width: 4em;
  position: relative;
  background-image: url(../img/Group.png);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: 3px center;
  background-size: 15px;
}

.aan::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 2em;
  width: 2em;
  background-color: black;
  border-radius: 50%;
  background-image: url(../img/Group2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}

main ul {
  resize: vertical;
  padding-left: 135px;
  padding-right: 120px;
  margin-top: 0;
  height: 180px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column;
}

main section {
  display: flex;
  justify-content: space-between;
  height: 200px;
  margin-right: 1em;
  margin-left: 1em;
}

main section div {
  width: 150px;
}

main section div h2 {
  text-align: center;
  font-size: 18px;
}

main section div h3 {
  text-align: center;
  font-size: 16px;
}

main section>div>div:last-of-type {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.gast-img-holder {
  border: 5px solid blueviolet;
}

.inter-img-holder {
  border: 5px solid orange;
}

.balls-cont {
  display: flex;
  justify-content: space-between;
  width: 50px;
  margin: 0 auto;
  margin-bottom: 1em;
  opacity: 0;
}

.balls-cont-gast {
  display: flex;
  justify-content: space-between;
  width: 50px;
  margin: 0 auto;
  margin-bottom: 1em;
  opacity: 0;
}

.ball {
  height: 10px;
  width: 10px;
  background-color: orange;
  border-radius: 50%;
  transform: translateY(0px);
}

.ball-gast {
  height: 10px;
  width: 10px;
  background-color: blueviolet;
  border-radius: 50%;
  transform: translateY(0px);
}

.jump {
  animation-name: writing;
  animation-duration: .5s;
  animation-iteration-count: 1;
}

@keyframes writing {
  100% {
    transform: translateY(-10px);
  }
}

.show {
  display: block;
}

.show-balls {
  opacity: 1;
}

.uitlijnen {
  margin-left: calc(50% - 140px);
  margin-right: calc(50% - 140px);
  margin-top: 1em;
  margin-bottom: 1em;
  transition: all 1s ease-in-out;
}

@media(max-width:769px) {
  body {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    padding: 0;
    background-image: url(../img/purple-ikat-stripes-seamless-background-orange-vector-11927005.jpg);
    background-size: 200px;
  }

  main {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: white;
  }

  main ul {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-flow: column;
    margin-bottom: 0;
  }

  main section {
    display: flex;
    justify-content: space-between;
    height: 25vh;
    margin-right: 0;
    margin-left: 0;
  }

  header button {
    display: block;
    margin-top: 3em;
    height: 4em;
    width: 8em;
    border-radius: 40px;
  }

  .layout {
    border-radius: 40px;
    height: 4em;
    width: 8em;
    background-position: 52px center;
    background-size: 25px;
  }

  .layout::after {
    content: "";
    height: 4em;
    width: 4em;
    background-size: 25px;
  }

  .aan {
    border-radius: 40px;
    height: 4em;
    width: 8em;
    background-position: 10px center;
    background-size: 25px;
  }

  .aan::after {
    content: "";
    height: 4em;
    width: 4em;
    background-size: 25px;
  }

  main header {
    position: static;
    margin: 0;
    z-index: 9999;
    width: 100%;
    height: 15vh;
    -webkit-box-shadow: 0px 14px 66px -22px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 66px -22px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 66px -22px rgba(0, 0, 0, 0.75);
  }

  main section>div>div:last-of-type {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
  }

  main section div {
    width: 50%;
  }

  li {
    list-style: none;
    font-size: 16px;
    padding: 1em;
    padding-left: 1.5em;
    width: 200px;
    margin: 1em;
    color: white;
    border-radius: 40px;
    display: none;
    transition: all 1s ease-in-out;
  }

  .gast {
    background-color: blueviolet;
    margin-right: 0;
    margin-left: calc(100% - 240px);
    transition: all 1s ease-in-out;
  }

  .interviewer {
    background-color: orange;
    margin-left: 0;
    margin-right: calc(100% - 240px);
    transition: all 1s ease-in-out;
  }

  .uitlijnen {
    margin-left: calc(50% - 120px);
    margin-right: calc(50% - 120px);
    margin-top: 1em;
    margin-bottom: 1em;
    transition: all 1s ease-in-out;
  }
}